<script>
 $(document).ready(function() {
 		$("#aupdate").load("main.html.erb");
 	var refreshId = setInterval(100);
 	$.ajaxSetup({ cache: false });
 	});	
</script>

<% @bobs.each do |bob| %>				
<div class="span9" id="aupdate">
          <div class="hero-unit">
            <h1>Main Data Breakdown</h1>
            <p>Simple display of the last (most recent) record: <%= bob.time %></p>
            <div class="row-fluid">
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> pH : <%= bob.ph %>
            			</p>
            		</div>
            	</div>
            	
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> Temp1 : <%= bob.temp1 %>
            			</p>
            		</div>
            	</div>
            	
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> Temp2 : <%= bob.temp2 %>
            			</p>
            		</div>
            	</div>
            </div> 
            
            <div class="row-fluid">
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> humidity : <%= bob.humidity %>%
            			</p>
            		</div>
            	</div>
            	
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> Lights : <%= bob.relay1status %>
            			</p>
            		</div>
            	</div>
            	
            	<div class="span3">
            		<div class="alert alert-info">
            			<p> Pump : <%= bob.relay2status %>
            			</p>
            		</div>
            	</div>
            </div> 
            
            <div class="row-fluid">
            	<div class="span9">
            	    <p>Battery Voltage(15v Max while charging): <%= bob.batteryv%></p>
            		<div class="progress progress-info progress-striped active">
            			<div class="bar" style="width: <%= number_to_percentage(bob.batteryv.to_f / 15 * 100)%>"></div>
            		</div>
            	</div>
            </div>
          </div>

    <div class="well">
              
           	<h2>Recent Data</h2>

				<table class="table table-bordered table-striped">
  					<tr>
    					<th>Time</th>
    					<th>Temp1</th>
    					<th>Temp2</th>
    					<th>Humidity</th>
    					<th>Ph</th>
    					<th>R1status</th>
    					<th>R2status</th>
    					<th>Batteryv</th>
    					<th></th>
    					<th></th>
    					<th></th>
  					</tr>

					
  					<tr>
    					<td><%= bob.time %></td>
    					<td><%= bob.temp1 %></td>
    					<td><%= bob.temp2 %></td>
    					<td><%= bob.humidity %></td>
    					<td><%= bob.ph %></td>
    					<td><%= bob.relay1status %></td>
    					<td><%= bob.relay2status %></td>
    					<td><%= bob.batteryv %></td>
    					<td><%= link_to 'Show', bob %></td>
    					<td><%= link_to 'Edit', edit_bob_path(bob) %></td>
    					<td><%= link_to 'Destroy', bob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  					</tr>
					<% end %>
				</table>

				<br />

				<%= link_to 'New Bob', new_bob_path %>  
            </div><!--/span-->

        </div><!--/span-->


